In [ ]:
lst = []
res=1
n = int(input("Enter number of elements : "))
for i in range(0, n):
    ele = int(input())
    lst.append(ele)
print(lst)
for item in lst:
  res=res*item
print("result",res)

Enter number of elements : 3
2
3
6
[2, 3, 6]
result 36

In [33]:
list=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
list.sort(key=lambda x: x[1])
print(list)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
 import copy

d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d3 = copy.deepcopy(d1)
d3.update(d2)
for key in d1.keys():
  for key1 in d2.keys():
    if key==key1:
      d3[key1]=d1[key1]+d2[key1]


print(d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [ ]:
print(d1)

{'a': 600, 'b': 400, 'c': 300, 'd': 800}

In [ ]:
n=int(input("n= :"))
s={i : i*i for i in range(1,n+1)}
print (s)

n= :8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [35]:
 list= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
 list.sort(key=lambda x: x[1],reverse=True)
 print (list)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]